/* Fonts: Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

/* Globals & Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Header */

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

.boton {
  color: #fff !important;
  font-size: 20px;
  font-weight: 400;
  padding: 0.5em 1.2em;
  background: #1a8f16;
  border: 2px solid;
  border-color: #086130;
  position: relative;
}

body {
  background-color: white;
}

/*CARDS CSS*/

body,
html {
  padding: 0;
  margin: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.box {
  width: 100%;
  height: 100vh;
  background: #f5f5f5;
  position: relative;
  padding: 15vh 0;
  user-select: none;
}
h1 {
  position: relative;
  text-align: center;
  z-index: 100;
}
.cardbox {
  width: 100%;
  height: 50vh;
  margin: 10vh 0 0 0;
  min-height: 300px;
  padding: 25px 0;
  overflow: hidden;
}
.card {
  height: 100%;
  min-width: 240px;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 5px;
}
span {
  display: block;
  text-align: center;
  font-weight: 700;
}
.cardimg {
  position: relative;
  width: 14vh;
  height: 14vh;
  margin: 10px auto;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  background: #f5f5f5;
}
.cardimg img {
  width: 110%;
  height: auto;
}
p {
  position: relative;
  text-align: center;
  font-size: 14px;
}
.cardbox::before,
.cardbox::after {
  content: "";
  width: 10%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  filter: blur(40px);
}
.cardbox::before {
  left: 0;
  background: rgba(245, 245, 245, 0.9);
}
.cardbox::after {
  right: 0;
  background: rgba(245, 245, 245, 0.9);
}
.undercardbox {
  animation: move 60s linear 2s infinite alternate;
  display: flex;
  flex-direction: row;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-2800px + 100%));
  }
}
/*SIGN IN -UP CSS*/

.signinup {
  font-family: "Montserrat", sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(40, 57, 101, 0.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: #1161ee;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group input[data-type="password"] {
  text-rendering: circle;
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}
.login-form .group .button {
  background: #1161ee;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #fff;
}
.login-form .group .check:checked + label .icon {
  background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
}

/*CSS ABOUT*/

.topimage .wrapper {
  width: 100%;
  height: 830px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.topimage span {
  padding-top: 40px;
  font-size: 40px;
}
.topimage h1 {
  padding-top: 40px;
}

.topimage p {
  display: block;
  width: 40%;
  font-size: 26px;
  padding-top: 50px;
}

/*CSS SERVICES GRID*/

.grid-services .wrapper {
  display: grid;
  padding-top: 50px;
  grid-template-columns: 33% 33% 30%;
  grid-template-rows: 250px 250px;
  gap: 2rem;
  height: 850px;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
.grid-items span {
  color: white;
  font-size: 50px;
}

.grid-items {
  padding: 2rem;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white;
  font-weight: bold;
}

.grid-items:hover {
  border: solid 1px rgb(196, 193, 193);
}

@media (max-width: 1024px) {
  .grid-services {
    gap: 1.5rem;
    height: 1024px;
    background: url(./ILUSTRACIONES/Fondo\ about.jpg) transparent;
    font-size: 15px;
    grid-template-columns: 50% 50%;
  }

  .grid-items {
    font-size: 15px;
  }

  .topimage h1 {
    gap: 2rem;
    font-size: 40px;
  }

  .topimage p {
    font-size: 16px;
    font-weight: bolder;
    color: black;
  }

  .topimage {
    width: 100%;
    background-size: 2000px;
    background-position: initial;
  }
}

/*Discover CSS*/

.carousel-inner img {
  width: 100%;
  height: 850px;

  animation: cambio 20s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*/FOOTER CSS/*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

footer {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 14px;
}

footer {
  display: flex;
  flex-flow: row wrap;
  padding: 100px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255) !important;
}

.footer > * {
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer-left img {
  width: 50%;
}
h2 {
  font-weight: 600;
  font-size: 30px;
}
.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer-right {
  display: flex;
  flex-flow: row wrap;
}

.footer-right > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: black;
}

.footer-bottom {
  text-align: center;
  color: black;
  padding-top: 50px;
}

.footer-left p {
  padding-right: 20%;
  color: black;
}
.socials a {
  background: #134480;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}
.socials a i {
  color: #e7f2d4;
  padding: 10px 12px;
  font-size: 50px;
}
@media screen and (min-width: 600px) {
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
  }
  .footer-right {
    flex: 2 0px;
  }
}
